{% extends "layout.html" %}

{% block title %}Patient Page{% endblock %}

{% block content %}
<h1>Patient Page for Patient {{ ID }}</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function fetchBasicData() {
        const patientID = document.getElementById('patientSelect').value || "{{ ID }}";
        if (patientID) {
            fetch(`/get_discharge_data?ID=${patientID}`)
                .then(response => response.json())
                .then(data => {
                    for (const [key, value] of Object.entries(data)) {
                        // Perform some operation with each key-value pair
                        const div_box = document.createElement('div');
                        div_box.setAttribute('id', key);
                        div_box.setAttribute('class', 'Summary_Box');
                        div_box.appendChild(document.createTextNode(key));
                        div_box.style.fontSize = '20px';

                        const div_under = document.createElement('div');
                        div_under.setAttribute('class', 'Inner_Box');
                        div_under.style.fontSize = '15px';
                        div_under.style.height = '15vh';
                        div_under.style.display = 'flex';
                        div_under.style.flexDirection = 'column';
                        div_under.style.overflowY= 'auto';
                        value.forEach((val) =>{
                            let div_txt = document.createElement('div');
                            div_txt.appendChild(document.createTextNode(val));
                            div_under.appendChild(div_txt);
                        });
                            
                        div_box.appendChild(div_under);
                        $('.content').append(div_box);
                    }
                });
                
        }
    }
    document.addEventListener('DOMContentLoaded', fetchBasicData);
</script>
{% endblock %}
